@charset "UTF-8";
.container {
  width: 100%;
  max-width: 124.6rem;
  padding: 0 15px;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

html {
  font-size: 62.5%;
}

html {
  overflow-x: hidden;
}

button {
  cursor: pointer;
  background-color: transparent;
}

a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  transition: all 0.5s;
}

a:hover {
  color: #ffc800;
  transition: 0.5s;
}

h4, h1, h2 {
  font-size: 2.3rem;
  font-weight: 500;
  color: #ffffff;
  line-height: 120%;
}

h1 {
  font-size: 4.5rem;
  width: 50rem;
  font-weight: 800;
}

h2 {
  color: #000000;
  font-weight: 700;
}

header {
  display: flex;
  background: url(../assets/img/bg-hero.svg);
  height: 9rem;
  transition: 0.5s;
  background-repeat: no-repeat;
  background-size: 100%;
}

header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-items: center;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

header .container button {
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 1rem 2rem;
  border-radius: 20px 20px 20px 20px;
  color: #ffffff;
  font-weight: 800;
  transition: 0.5s;
}

header .container button:hover {
  background-color: #ffc800;
  color: #ffffff;
  transition: 0.5s;
  border: none;
}

header {
  border-bottom: 0.5px solid #ffffff;
}

main {
  background: url(../assets/img/bg-hero.svg);
  padding-bottom: 5rem;
  background-repeat: no-repeat;
  background-size: 100%;
}

main .container {
  padding-top: 10rem;
}

.cardHero {
  display: flex;
  padding-bottom: 10rem;
}

.s-heroOne {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: baseline;
  color: white;
}

.s-heroOne button {
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 1rem 2rem;
  border-radius: 20px 20px 20px 20px;
  color: #ffffff;
  font-weight: 800;
  background: #ffc800;
  color: #000000;
  border: none;
}

.s-heroOne button:hover {
  background: #ffffff;
  color: #000000;
  border: none;
}

.s-heroImg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: 12rem;
  margin-right: 15rem;
}

.s-heroImg img {
  width: 100%;
  animation-name: rotateCards;
  animation: girar 2s infinite;
}

s-heroImg img:nth-child(1) {
  animation-delay: 0.2s;
  position: absolute;
  z-index: 44444;
  top: 1rem;
}

img.creditCard01:first-child {
  z-index: 33;
}

.s-heroImg img:nth-child(2) {
  position: absolute;
  left: 22rem;
  top: 22rem;
  animation-delay: 0.4s;
  z-index: 2;
  width: 33rem;
}

.s-heroImg img:nth-child(3) {
  position: absolute;
  left: 10rem;
  top: 10rem;
  animation-delay: 0.6s;
  animation: none;
  z-index: 0;
}

.cardHero ul li {
  display: flex;
  gap: 2rem;
  align-items: center;
  background: rgba(255, 255, 255, 0.08);
  padding: 2rem;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}
.cardHero ul li:hover {
  background: rgba(255, 255, 255, 0.2);
  transform: scale(1.1);
  color: #ffc800;
}
.cardHero ul li:hover a {
  color: #ffc800;
}

ul li img {
  width: 2.4rem;
}

.secondHero {
  margin-top: 7rem;
  position: relative;
  margin-bottom: 10rem;
}

.secondHero .container {
  display: flex;
  flex-direction: row;
  justify-content: row;
  align-items: center;
  gap: 10rem;
}

.secondHero .container .imgSecondHero {
  display: flex;
  flex-direction: flex;
  justify-content: row;
  align-items: left;
  position: relative;
}
.secondHero .container .imgSecondHero img {
  width: 30rem;
}

.secondHero .container .imgSecondHero img:nth-child(1) {
  position: absolute;
  display: flex;
  left: -149px;
  z-index: -1;
}

.secondHero .container .imgSecondHero img:nth-child(2) {
  box-shadow: 5px 4px 11px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 5px 4px 11px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 4px 11px 0px rgba(0, 0, 0, 0.75);
  border-radius: 5rem;
}

.secondHeroContainer {
  margin-bottom: 3rem;
}

.secondHeroContainer h2 {
  font-size: 5rem;
}

ul.secondHeroList li img {
  width: 5rem;
}

.secondHeroList h3 {
  font-size: 3rem;
}

ul.secondHeroList li {
  display: flex;
  gap: 2rem;
  width: 70rem;
  flex-wrap: wrap;
  margin-bottom: 4rem;
}
ul.secondHeroList li p {
  font-size: 2rem;
  width: 50rem;
  color: gray;
}

ul.secondHeroList li:first-child {
  margin-top: 3rem;
}

ul.secondHeroList li::after {
  content: "";
  width: 100%;
  height: 0.4px;
  background: #ffc800;
  border-radius: 50%;
  margin-right: 2rem;
  margin-top: 1rem;
}

.thirdHero .container {
  display: flex;
  flex-direction: row;
  justify-content: row;
  align-items: center;
  gap: 10rem;
  text-align: center;
}

.thirdHeroCard {
  padding: 2rem;
}

.thirdHeroCard img {
  width: 60px;
  height: 60px;
}

.thirdHeroCard p {
  font-size: 2rem;
  width: 30rem;
  color: gray;
}

section.thirdHero {
  margin-bottom: 12rem;
}

button.appleBtn {
  display: flex;
  gap: 2rem;
  cursor: pointer;
}

.thirdHeroCard {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
  align-items: center;
}

button.appleBtn {
  display: flex;
  gap: 0.5rem;
  padding: 3rem 2rem;
  border-radius: 20px 20px 20px 20px;
  color: #ffffff;
  font-weight: 800;
  background: rgba(33, 33, 33, 0.83);
  color: #fff7f7;
  border: none;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 27rem;
  position: relative;
  background-image: url(../assets/img/apple-store.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.5s;
}
button.appleBtn:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}

.androidBtn {
  display: flex;
  gap: 0.5rem;
  padding: 3rem 2rem;
  border-radius: 20px 20px 20px 20px;
  color: #ffffff;
  font-weight: 800;
  background: rgba(33, 33, 33, 0.83);
  color: #fff7f7;
  border: none;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 27rem;
  position: relative;
  background-image: url(../assets/img/apple-store.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.5s;
  background-image: url(../assets/img/google-play.svg);
}
.androidBtn:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}

.thirdSecondHeroCard {
  background-image: url(../assets/img/bg-hero.svg);
  background-image: url(../assets/img/bg-hero.svg);
  height: 40rem;
  width: 75rem;
  border-radius: 2rem;
  background-position: top;
  position: relative;
}

.thirdSecondHeroCard {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  padding-left: 6rem;
}

.thirdSecondHeroCard h2 {
  color: white;
  font-size: 5rem;
}

.thirdSecondHeroCard h3, p {
  color: white;
  font-size: 2rem;
  width: 30rem;
  text-align: left;
}

p {
  font-size: 1.75rem;
}

.meiBtn, .meBtn {
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 1rem 2rem;
  border-radius: 20px 20px 20px 20px;
  color: #ffffff;
  font-weight: 800;
  position: absolute;
  top: 33rem;
  width: 20rem;
  transition: all 0.5s;
}
.meiBtn:hover, .meBtn:hover {
  background: #ffc800;
  color: #000000;
  border: none;
  transition: all 0.5s;
}

.meBtn {
  left: 29rem;
}

.thirdSecondHeroCard img {
  width: 35rem;
  position: absolute;
  right: -4rem;
  top: 8rem;
  z-index: 0;
  box-shadow: 5px 4px 11px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 5px 4px 11px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 4px 11px 0px rgba(0, 0, 0, 0.75);
  animation-name: rotateCards;
  animation: girar 3s infinite;
}

.fourthHero {
  margin-bottom: 10rem;
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: row;
  align-items: center;
}
.fourthHero .container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0 5rem;
}
.fourthHero h2 {
  font-size: 4rem;
  width: 50rem;
  font-weight: 900;
  color: #000000;
}
.fourthHero h2::after {
  content: "😃";
}

.fourthHero span {
  color: #e6e6e6;
  margin-bottom: 1rem;
  width: 100%;
  display: block;
  font-size: 4rem;
}

.fourthHeroSecondSection li {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: #ffc800;
  transition: all 0.5s;
  animation-name: load;
  animation: load 2s infinite;
}

.fivethHero {
  margin-bottom: 20rem;
}

.sliderComents {
  display: flex;
  flex-direction: column-reverse;
  gap: 5rem;
  align-items: center;
}
.sliderComents input {
  width: 3rem;
  height: 3rem;
  border-radius: 50px;
  border: none;
  margin-left: 2rem;
  font-size: 1.5rem;
  color: #e6e6e6;
  background: #F2F2F2;
  transition: all 0.3s;
  border: none !important;
  -webkit-appearance: none;
  outline: none;
}
.sliderComents input[type=radio]:checked {
  background-color: #00d7d7;
  transition: all 0.3s;
}
.sliderComents .cardsComments .commentsList li {
  margin-left: 0;
  transition: all 0.4s;
  display: flex;
  flex-direction: column;
  gap: 0rem;
}
.sliderComents #r2:checked ~ ul.commentsList li {
  margin: 0 -1077px !important;
  transition: all 0.4s;
  display: flex;
  flex-direction: column;
  gap: 0rem;
}
.sliderComents #r3:checked ~ ul.commentsList li {
  margin-left: -2176px !important;
  transition: all 0.4s;
  display: flex;
  flex-direction: column;
  gap: 0rem;
}
.sliderComents ul.commentsList {
  width: 107rem;
  text-align: center;
  display: flex;
  margin: 0 auto;
  overflow-x: hidden;
}

div#s1 {
  position: relative;
}

#r1, #r2, #r3 {
  position: absolute;
  top: 22rem;
  left: 40rem;
}

#r2 {
  left: 45rem;
}

#r3 {
  left: 50rem;
}

.cardsComments ul li {
  width: 33rem;
  height: auto;
  background: #33303E;
  text-align: left;
  padding: 4rem;
  border-radius: 1rem;
  position: relative;
}
.cardsComments ul li h3 {
  font-size: 1.5rem;
  color: #ffffff;
  margin-bottom: 1rem;
}
.cardsComments ul li p {
  font-size: 1.4rem;
  color: #e6e6e6;
  margin-bottom: 1rem;
  width: 25rem;
}
.cardsComments ul li img {
  position: absolute;
  right: 33px;
  top: 20px;
}

section.sixthinSection {
  margin-bottom: 10rem;
}

.sixthinSection .container {
  display: flex;
}

.firstContainerSix {
  padding: 0rem 10rem;
  width: 65rem;
}
.firstContainerSix ul {
  flex-direction: column;
  align-items: flex-start;
}
.firstContainerSix h2 {
  font-size: 4rem;
  margin-bottom: 1.4rem;
}
.firstContainerSix ul li h3 {
  font-size: 2rem;
  margin-bottom: 1.4rem;
}
.firstContainerSix ul li p {
  font-size: 1.5rem;
  color: gray;
}

.firstContainerSix h2:first-child {
  color: gray;
  font-size: 4rem;
}

.secondContainerSix {
  width: 20rem;
  position: relative;
}
.secondContainerSix img:nth-child(1) {
  position: absolute;
  width: 35rem;
}
.secondContainerSix img:nth-child(2) {
  position: absolute;
  top: 1rem;
  animation-name: zIndex;
  animation: zIndex 10s infinite;
  animation-delay: 3s;
}
.secondContainerSix img:nth-child(3) {
  position: absolute;
  top: 1rem;
  left: 3rem;
  animation-name: zIndex;
  animation: zIndex 10s infinite;
  animation-delay: 5s;
}

footer {
  background-image: url(../assets/img/bg-hero.svg);
  padding-bottom: 5rem;
  background-size: 100%;
  background-repeat: no-repeat;
}

.topHeader {
  border-bottom: 1px solid white;
  padding-bottom: 4rem;
}

.socialMedias ul li img {
  width: 2.5rem;
}
.socialMedias ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 3rem;
}

.logoFooter {
  width: 15rem;
}

.topHeader {
  display: flex;
  justify-content: space-around;
  padding-top: 6rem;
}

.socialMedias {
  display: flex;
  flex-direction: row;
  justify-content: row;
  align-items: center;
  align-items: center;
  gap: 6rem;
}

footer .container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

.footerLinks {
  display: flex;
  justify-content: space-around;
}

.mainFooter {
  margin-top: 3rem;
  display: flex;
  padding: 0 14rem;
}

.f1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 8rem;
  text-align: left;
}

.f1 ul {
  gap: 6px;
  flex-direction: column;
  text-align: left;
  align-items: baseline;
}

.footerUnder ul.footerUnder button {
  width: 18rem;
}

.mainFooter {
  border-bottom: 1px solid white;
  padding-bottom: 3rem;
}

.footerFinal {
  padding-left: 14rem;
  margin-top: 2rem;
}
.footerFinal p {
  color: #e6e6e6;
  font-size: 1.5rem;
  width: 61rem;
  font-size: 2rem;
}
.footerFinal p::after {
  content: "😃";
  margin-left: 1rem;
}

button.btn {
  width: 28rem;
  height: 6rem;
  background: #00d7d7;
  border-radius: 20px;
  padding: 1rem;
  color: white;
  cursor: pointer;
}
button.btn:hover {
  background: #ffc800;
  color: #000000;
  border: none;
  transition: all 0.5s;
}

@keyframes girar {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes load {
  0% {
    background-color: #0073ce;
  }
  50% {
    background-color: #00d7d7;
  }
  100% {
    background-color: #ffffff;
  }
}
@keyframes zIndex {
  0% {
    z-index: 0;
  }
  50% {
    z-index: 9999;
  }
  100% {
    z-index: 0;
  }
}

/*# sourceMappingURL=main.css.map */
