@keyframes girar {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(10deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

@keyframes load{
   0%{
      background-color: $azulPrincipal;
   }
   50%{
      background-color: $azulVerde;
   }
    100%{
        background-color: $branco;
    }
}

//index animation

@keyframes zIndex{
    0%{
        z-index: 0;
    }
    50%{
        z-index: 9999;
    }
    100%{
        z-index: 0;
    }
}