*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    list-style: none;   
    font-family: 'Poppins', sans-serif;

    
}

img{
    width: 100%;

    display: block;
    object-fit: cover;
}

html{
    font-size: 62.5%;
}

html{
    overflow-x:hidden  ;
}

button{
    cursor: pointer;
    background-color: transparent;
}

a{
    color: $branco;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    transition: all 0.5s;
}
a:hover{
    color: $amarelo;
    transition: 0.5s;
}

h4,h1,h2{
    font-size: 2.3rem;
    font-weight: 500;
    color: $branco;
    line-height: 120%;
}

h1{
    font-size: 4.5rem;
    width: 50rem;
    font-weight: 800;
    
}
h2{
    color: $preto;
    font-weight: 700;
    
}